*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.first-lorem{
    background-color: aquamarine;
    width: 80%;
    height: 300px;
    overflow: auto;
    max-height: 100px;
    max-width: 50%;
}