* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar{
    width: auto;
    height: 60px;

}

.logo{
width: 70px;
height: 60px;
}

.logo-text{
    background-color: aqua;
    width: 79px;
    height: 54px;
    position: absolute;
    top:  6.5%;
    left: 7.2%;
    margin: -50px 0 0 -50px;

}

.home-list{
    background-color: aqua;
    width: 100px;
    height: 60px;
    position: absolute;
    top: 6.5%;
    left: 30%;
    margin: -50px 0 0 -50px;
}
.page-list{
    background-color: aqua;
    width: 100px;
    height: 60px;
    position: absolute;
    top: 6.5%;
    left: 38%;
    margin: -50px 0 0 -50px;
}

.cart-button {
    background-color: rgb(7, 134, 129);
    width: 100px;
    height: 60px;
    position: absolute;
    top: 6.5%;
    left: 70%;
    margin: -50px 0 0 -50px;
}

.search-button{
    background-color: rgb(9, 24, 155);
    width: 60px;
    height: 45px;
    position: absolute;
    top: 6.5%;
    left: 90%;
    margin: -50px 0 0 -50px;
}