@import url(../css/fonts.css);


.why-codeacademy{
    width: 30%;
    height: 20%;
    font-family: BlinkerThin;
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    left: 40%;
    top: 35%;
}


.why-codeacademy img{
    margin-top: 7%;
    margin-bottom: 5%;
}